<div style="justify-content: space-around; display:flex;margin-top:120px; max-width: 100%;">
<mat-card class="example-card" (click)="navigate('admin')">
    <mat-card-header class="header-pos">
      <mat-card-title>Admin</mat-card-title>
      
    </mat-card-header>
    <mat-card-content>
      <img src = "/assets/admin.png" width= 100%>
    </mat-card-content>
    
  </mat-card>
  

  <mat-card class="example-card" (click)="navigate('hm')">
    <mat-card-header class="header-pos">
      <mat-card-title>Hiring Manager</mat-card-title>
      
    </mat-card-header>
    <mat-card-content>
      <img src = "/assets/hiringmanager.png" width = 100%>
      <mat-icon svgIcon="home" aria-hidden="false" ></mat-icon>
    </mat-card-content>
   
  </mat-card>

  <mat-card class="example-card" (click)="navigate('panel')">
    <mat-card-header class="header-pos">
      <mat-card-title>Panelist</mat-card-title>
      
    </mat-card-header>
    <mat-card-content>
      <img src = "/assets/panelist.png"width = 100%>
      
    </mat-card-content>
    
  </mat-card>

  <mat-card class="example-card" (click)="navigate('member')" >
    <mat-card-header class="header-pos">
      <mat-card-title>TA Member</mat-card-title>
      
    </mat-card-header>
    <mat-card-content>
      <img src = "/assets/tamember.png"class="center">
      
    </mat-card-content>
    
  </mat-card>
  </div>
  
  